@define-color background @base00;
@define-color foreground @base05;
@define-color highlight @base04;
@define-color urgent @base08;

* {
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: transparent;
  color: @foreground;
}

#battery,
#bluetooth,
#pulseaudio,
#pulseaudio.mic,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#window,
#workspaces,
#custom-notification,
#custom-power,
#custom-distro,
#privacy,
#clock {
  min-width: 12px;

  background: @background;
  margin: 12px 4px 4px 4px;
  padding: 8px 12px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
  border-radius: 8px;
  color: @foreground;
}

/* Privacy module */
#privacy {
  background: @base0F;
  color: @background;
}

/* Pulseaudio module */
#pulseaudio,
#pulseaudio.mic.source-muted {
  padding-right: 20px;
}

#pulseaudio.muted,
#pulseaudio.mic.source-muted {
  color: @urgent;
}

/* Backlight module */
#backlight {
  padding-right: 16px;
}

/* Custom power module */
#custom-power {
  padding-right: 8px;
  color: @foreground;
  background-color: @urgent;
}

/* Custom distro module */
#custom-distro {
  color: @base0D;
  font-size: 16px;
  padding: 8px 8px 8px 12px;
}

/* Hyprland workspaces module */
#workspaces {
  padding: 6px;
  margin-top: 12px;
}

#workspaces button {
  color: alpha(@foreground, 0.3);
  padding: 0 2px;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out,
    padding 300ms ease-in-out;
}

#workspaces button:hover {
  background-color: @highlight;
  padding: 0 3px;
  color: @base06;
}

#workspaces button.active {
  color: @base06;
}

#workspaces button.special {
  color: @base0D;
}

#workspaces button.urgent {
  color: @urgent;
}

#workspaces button.empty {
  color: alpha(@highlight, 0.3);
}

/* Battery module */
#battery.charging {
  background-color: @base0D;
}

#battery.warning:not(.charging) {
  color: @base0A;
}

#battery.critical:not(.charging) {
  color: @urgent;

  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes battery-blink {
  to {
    color: @foreground;
  }
}
