// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include optional=true "colors.kdl"
include "monitors.kdl"

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "br"
        }

        // Enable numlock on startup
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.333333
        proportion 0.5
        proportion 0.666667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

    // You can change how the focus ring looks.
    focus-ring {
        // Disable the focus ring
        off

        width 4
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // Disable border
        off

        width 4
        active-color "#9bcbfb"
        inactive-color "#8c9198"
        urgent-color "#ffb4ab"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }

    // Tab indicator colors are set in colors.kdl
    tab-indicator {
    }

    insert-hint {
    }
}

// Add lines like this to spawn processes at startup.
spawn-at-startup "mako"
spawn-at-startup "initialize_setup"
spawn-at-startup "wl-paste" "-t" "image" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "-t" "text" "--watch" "cliphist" "store"
spawn-at-startup "hypridle"
spawn-at-startup "sheez"

spawn-sh-at-startup "niri-scratchpad daemon"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    // slowdown 3.0
}

// Named Workspaces
workspace "code"
workspace "browser"
workspace "chat"
workspace "stash"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Zen Picture-in-Picture
window-rule {
    match app-id="zen" title="^Picture-in-Picture$"
    open-floating true
}

// Default: don't maximize
window-rule {
    open-maximized false
}

// Pavucontrol floating
window-rule {
    match app-id="pavucontrol"
    open-floating true
    default-floating-position x=576 y=54 relative-to="top-right"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.5; }
}

// Thunar floating
window-rule {
    match app-id=r#"[Tt]hunar"#
    open-floating true
}

// Thunar confirm dialog
window-rule {
    match app-id=r#"[Tt]hunar"# title="Confirm to replace files"
    open-floating true
}

// Thunar progress dialog
window-rule {
    match app-id=r#"[Tt]hunar"# title="File Operation Progress"
    open-floating true
}

// Blueman floating
window-rule {
    match app-id="blueman"
    open-floating true
    default-floating-position x=0 y=0 relative-to="top"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.5; }
}

// Network manager connection editor
window-rule {
    match app-id="nm-connection-editor"
    open-floating true
    default-floating-position x=0 y=0 relative-to="top"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.5; }
}

// OBS floating
window-rule {
    match app-id="obsproject"
    open-floating true
}

// Yazi floating
window-rule {
    match title="yazi"
    open-floating true
}

// File Operation Progress
window-rule {
    match title="File Operation Progress"
    open-floating true
}

// Gnome Disks floating
window-rule {
    match app-id=r#"[Gg]nome-disks"#
    open-floating true
}

// Workspace assignments
window-rule {
    match app-id="kitty"
    open-on-workspace "code"
}

window-rule {
    match app-id="zen"
    open-on-workspace "browser"
}

window-rule {
    match app-id="obsproject"
    open-on-workspace "chat"
}

window-rule {
    match app-id="vesktop"
    open-on-workspace "chat"
}

// Corner radius for all windows
window-rule {
    geometry-corner-radius 20.0
    clip-to-geometry true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Launcher" { spawn "rofi" "-show" "drun" "-theme" "~/.config/rofi/launcher.rasi"; }
    Mod+D hotkey-overlay-title="Discord" { spawn "vesktop"; }
    Mod+B hotkey-overlay-title="Browser" { spawn "zen"; }
    Super+Alt+L hotkey-overlay-title="Lock session" { spawn "sheez" "ipc" "call" "lockScreen" "toggle"; }
    Super+Escape hotkey-overlay-title="Toggle Power Menu" { spawn "sheez" "ipc" "call" "logout" "toggle"; }
    Alt+V hotkey-overlay-title="Clipboard History" { spawn-sh "cliphist list | rofi -dmenu -config ~/.config/rofi/cliphistory.rasi | cliphist decode | wl-copy"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Example media keys mapping using playerctl.
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }

    Mod+W repeat=false { close-window; }

    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }

    // Notifications
    Mod+Comma hotkey-overlay-title="Dismiss Notification" { spawn "makoctl" "dismiss"; }
    Mod+Shift+Comma hotkey-overlay-title="Dismiss All Notifications" { spawn "makoctl" "dismiss" "--all"; }
    Mod+Ctrl+Comma hotkey-overlay-title="Toggle Do Not Disturb" { spawn-sh "makoctl mode -t do-not-disturb && makoctl mode | grep -q 'do-not-disturb' && notify-send 'Silenced notifications' || notify-send 'Enabled notifications'"; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+Down { focus-monitor-down; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }

    // You can refer to workspaces by index.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Scratchpad
    Alt+Q { spawn "niri-scratchpad" "create" "1" "--as-float"; }
    Alt+E { spawn "niri-scratchpad" "create" "2" "--as-float"; }
    Alt+O { spawn "niri-scratchpad" "create" "3" "--as-float"; }
    Mod+Alt+Q { spawn "niri-scratchpad" "delete" "1"; }
    Mod+Alt+E { spawn "niri-scratchpad" "delete" "2"; }
    Mod+Alt+O { spawn "niri-scratchpad" "delete" "3"; }

    // The following binds move the focused window in and out of a column.
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Alt+Comma { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    Mod+Q { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Toggle keyboard shortcuts inhibitor
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors.
    Mod+Shift+P { power-off-monitors; }
}
